<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="details-bg">
    <nav>
        <h2>🌱 Sprout Spot</h2>
        <div class="nav-links">
          <a href="{{ url_for('home') }}">Home</a>
          <a href="{{ url_for('plants') }}">My Plants</a>
          <a href="{{ url_for('search_plant') }}">Plant Info</a>
          <a href="{{ url_for('add_plant_page') }}">Add Plant</a>
        </div>
    </nav>

    <main class="plant-detail-container">
    
        
        <div class="plant-card">
            <div class="plant-header">
                <div class="plant-info">
                    <h2>{{ data.name }}</h2>
                    <p>{{ data.type }}</p>
                    <p><strong>Watering frequency:</strong> Every {{ data.schedule }} days</p>
                    <div class="action-buttons">
                        <form action="{{ url_for('edit_plant', id=data.id) }}" method="GET">
                            <button type="submit" class="pill-btn edit">Edit</button>
                        </form>
                        <form action="{{ url_for('delete_plant', id=data.id)}}" method="POST">
                            <button type="submit" class="pill-btn delete">Delete</button>
                        </form>
                    </div>
                </div>
                <button class="pill-btn water-now">Water now</button>

                <div class="log-box">
                    <h3>Watering log</h3>
                    <ul>
                        {% for entry in data.watering_log %}
                        <li>{{ entry.date }} <span class="log-status">{{ entry.status }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
        </div>
        
        
    </main>
</body>
</html>