<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Plants</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plants_page.css') }}">

</head>
<body class="plants-bg">
    <nav>
        <h2><a href="{{ url_for('plants') }}">🌱 Sprout Spot</a></h2>
        <div class="nav-links">
            <a href="{{ url_for('search_plant') }}">Plant Info</a>
            <a href="{{ url_for('achievements') }}">Achievements</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>

    </nav>
  
    <main>
        <!-- Display flash messages -->
        <!-- Display flash messages for water streak -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        {% if category == "plant_streak" %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %} 

        <!-- Display the user's plants -->

        <div class="top-bar">
            <h1>My Plants</h1>      <!-- Should change to user.username plants or smth? -->
            <a href="{{ url_for('add_plant_page') }}" class="add-btn">✚ Add Plant</a>
        </div>

        <div class="center-btn">
            <div class="reminder">
                {% for plant in data %}
                    {% if plant.countdown is not none and plant.countdown <= 0 %}
                        <div class="reminder-box">Water {{ plant.name }} today</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        {% for plant in data %} 
        <a href="{{ url_for('plant_detail', id=plant.id) }}" class="card-link">
            <div class="card                 
                {% if plant.countdown is not none and plant.countdown <= 0 %} card-alert
                {% endif %}">
                <div class="card-left">
                    {% if plant.countdown is not none and plant.countdown > 0 %}
                        <img class="mood" src="static/Images/happy.png">
                    {% elif plant.countdown == 0 %}
                        <img class="mood" src="static/Images/water.png">
                    {% elif plant.countdown is not none %}
                        <img class="mood" src="static/Images/sad.png">
                    {% else %}
                        <img class="mood" src="static/Images/unknown.png">
                    {% endif %}
                    <h2>{{ plant.name }}</h2>
                </div>

                <div class="card-center">
                    {% if plant.countdown is not none and plant.countdown > 0 %}
                        <p>Water in {{ plant.countdown }} days</p>
                    {% elif plant.countdown == 0 %}
                        <p>Water today</p>
                    {% elif plant.countdown is not none %}
                        <p>Water {{ -plant.countdown }} days late</p>
                    {% else %}
                        <p>Countdown not available</p>
                    {% endif %}
                </div>
                
                <div class="card-right">
                    <button class="water-btn">Water now</button>
                </div>
            </div>
        </a>

        {% else %}
        <p>No plants yet! Click "Add Plant" to get started.</p>
        {% endfor %}
    </main>

</body>
</html>

