<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Plants</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plants_page.css') }}">

</head>
<body class="plants-bg">
    <nav>
        <h2>🌱 Sprout Spot</h2>
        <div class="nav-links">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('plants') }}">My Plants</a>
            <a href="{{ url_for('search_plant') }}">Plant Info</a>
        </div>

    </nav>

    <main>
        
        <div class="top-bar">
            <h1>My Plants</h1>
            <a href="{{ url_for('add_plant_page') }}" class="add-btn">✚ Add Plant</a>
        </div>
        <div class="center-btn">
            <a href=# class="add-water-btn">Plants to water today</a>
        </div>

        {% for plant in data %}
        <a href="{{ url_for('plant_detail', id=plant.id) }}" class="card-link">
            <div class="card">
                <div class="info">
                    <h2>{{ plant.name }}</h2>
                    <p class="schedule">Water every {{ plant.schedule }} days</p>
                </div>
                <button class="water-btn">Water now</button>
            </div>
        </a>
        {% else %}
        <p>No plants yet! Click "Add Plant" to get started.</p>
        {% endfor %}
    </main>
  
    
</body>
</html>

