<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <h2>🌱 Plant Tracker</h2>
        <div class="nav-links">
          <a href="{{ url_for('home') }}">Home</a>
          <a href="{{ url_for('categories') }}">My Plants</a>
          <a href="{{ url_for('add_plant_page') }}">Add Plant</a>
        </div>
    </nav>

    <main>
        <h1>{{ data.name }}</h1>
        <p><strong>Water every:</strong> {{ data.schedule }} days</p>
        <button>Mark as Watered</button>
        
        <!-- Edit Button -->
        <form action="{{ url_for('edit_plant', id=data.id) }}" method="GET" style="display: inline;">
            <button type="submit" class="edit-btn">✏️ Edit Plant</button>
        </form>
        <form action="{{ url_for('delete_plant', id=data.id)}}" method="POST">
            <input type="submit" value="Delete Plant">
        </form>
    </main>
</body>
</html>